<li>
    <a data-toggle="modal" data-target="#exampleModal" data-postid="2" data-title="{{Title}}" href="#"
        target="_none">{{Title}}</a> by
    {{#if AuthorURL}}<a href="{{AuthorURL}}" target="_none">{{AuthorName}}</a>{{else}}{{AuthorName}}{{/if}}</a>

</li>