<li>
    <a data-toggle="modal" data-target="#showNotebooks" data-url="{{URL}}" data-title="{{Title}}" href="#"
        target="_none">{{Title}}</a> by
    {{#if AuthorURL}}<a href="{{AuthorURL}}" target="_none">{{AuthorName}}</a>{{else}}{{AuthorName}}{{/if}}</a>

</li>

<div class="modal fade" id="showNotebooks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:80% !important; max-width:95% !important;">
        <div class="modal-content">
            <div class="modal-header" data-dismiss="modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <h1><span aria-hidden="true">&times;</span></h1>
                </button>
                <h2 class="modal-title" id="exampleModalLabel">...</h2>
            </div>
            <div class="modal-body">
                Couldn't load the file...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" role="button" href="{{URL}}" download="{{Title}}">
                    Download
                </a>
            </div>
        </div>
    </div>
</div>